[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pillow = "*"
keras = "*"
sklearn = "*"
numpy = "*"
flake8 = "*"
tensorflow = "*"

[requires]
python_version = "3.7"
